@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@layer components {
  .top-bar-item {
    all: unset;
    @apply rounded px-2 py-0 hover:bg-gray-200 hover:bg-opacity-60 focus:outline-none;
  }

  .all-unset {
    all: unset;
    @apply focus:outline-none;
  }

  .nav-bar-box {
    @apply absolute top-8 rounded bg-gray-200 bg-opacity-80 p-2 drop-shadow-lg backdrop-blur-lg;
  }

  .window-height {
    height: calc(100vh - 30px - 20px - 20px);
  }

  .tree-width {
    width: calc(100vw - 360px - 20px - 20px - 20px);
  }
}
